<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
        <meta
            name="description"
            content="App Vas Login"
        />
        <link rel="manifest" href="manifest.json" crossorigin="use-credentials" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="icon" href="img/favicon.ico">
        <meta name="theme-color" content="#E10098">
        <link rel="apple-touch-icon" href="img/icon.png"/>
        <meta name="apple-mobile-web-app-title" content="App Vas Login"/>
        <meta name="apple-mobile-web-app-capable" content="no"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="#E10098"/>
        <title>App Vas</title>
    </head>
    <body style="overflow-x: hidden;">
        <div id="mf-login"></div>
    </body>
</html>